<h1><%= @list.name() %></h1>
<!-- List#tasks is a method -->
<% if @list.tasks().any?() %>
  <h3>Here are all the tasks in this list:</h3>
  <ul>
    <% @list.tasks().each() do |task| %>
      <li><%= task.description() %> </li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no tasks on this list!</p>
  <% end %>

<!-- Ability to add more tasks to the list -->
<!-- action part of form will go to the post -->


<hr>
<div class="container">
  <a href="/lists/<%= @list.id() %>/edit">Edit <%= @list.name() %> list</a>
  <a href="/"><button class="btn">Back to Home</a>
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
  <a href="/lists/new">Add New Task</a>
</div>
